* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.6rem;
}

/*NAWIGACJA*/

nav {
    height: 50px;
    background-color: #a4508b;
    text-align: center;
    line-height: 50px;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 0 50px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 2px;
    transition: color .3s;
}

nav li a:hover {
    color: rgb(3, 23, 41);
}

/* HEADER */

.header-img {
    position: relative;
    height: 260px;
    background-image: url('../img/planet-1702788_1920.jpg');
    background-position: 60% 22%;
    background-repeat: no-repeat;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #000;
}

.header-bg {
    height: 100%;
    width: 100%;
    background-color: rgba(17, 0, 48, 0.3);
}

header h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

/* MAIN */
main {
    width: 60%;
    margin: 50px auto;

}

.about-us-heading {
    font-size: 3.2rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

section {
    margin: 40px 0;
}

.about-us-section {
    position: relative;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.top {
    background-image: url('../img/coffee-2242213_1920.jpg');
}

.middle {
    background-image: url('../img/office-1209640_1920.jpg');
}

.bottom {
    background-image: url('../img/building-1080592_1920.jpg');
}

.about-us-text {
    position: absolute;
    bottom: 20px;
    padding: 20px 40px;
    color: white;
    text-align: center;
    z-index: 1;
}

.about-us-text h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-us-bg {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    border-bottom-right-radius: 50px;
}

/* FOOTER */

footer {
    height: 100px;
    line-height: 100px;
    color: rgba(211, 211, 211);
    background-color: #a4508b;
    text-align: center;
    font-size: 18px;
}

.foot-ico {
    margin-left: 50px;
}

.foot-ico i {
    padding: 0 5px;
    color: rgba(211, 211, 211);
    font-size: 24px;
    transition: color .3s;
}

.foot-ico i:hover {
    color: rgb(3, 23, 41);
}